body {
    background: #f8f8f8;
    
}
#sidebar a{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #322b48;
    
}
h2, label {
    font-size: 18px;
    color: black;
    font-weight: 400; 
    background:  #eaeaea;
    text-align: center;
     
}
h2 {
  background: #eaeaea;  
}
.short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 16px;
    text-align: left;
}
.contact {
    border: 1px solid bold;
    margin-bottom: 15px;
    padding-left: 5px;
    background: aquamarine;
    color: #322b48;
}
.modal-content {
  
    background:  azure;
     
    
}
.modal-body form textarea, input {
    background: azure;
    color: black;
}


#sidebar a:hover {
    color: #0F0;
}


#sidebar a:visited: {
    color: #F00;
}
td img {
    width: 60px;
}
.pup:hover {   
    
    width: 300px;
}
div  label:hover{
    background: #dbe26c;
}

form h2 {
  color: cornflowerblue;
    font-size: 20px;
    
}
 p::first-letter {
    font-family: "Times New Roman", Times, serif; 
    font-size: 2em; 
    color: red; 
   }
form input[type="email"]:focus, form input[name]:focus, form input[type="password"]:focus { 
background:aqua;
 color: red;

} 
form input[name], textarea { 
    text-transform: capitalize;
    
}


form input[placeholder] {
    color:blueviolet;
}